<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.mapper.SeckillOrderMapper">


    <select id="getSeckillOrder" resultType="com.seckill.entity.dto.SeckillOrderDTO">
        SELECT a.*, b.* FROM
        seckill_order AS a LEFT JOIN order_info AS b ON a.seckill_order_id = b.id
        WHERE a.seckill_id = #{id}
    </select>
</mapper>